@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-serif: Georgia, serif;
    --font-sans: Georgia, serif;
}

@theme {
    --color-touchstone-red: #7A1F1F;
}


